.main {
  font-family: Segoe UI;
  text-align: center;
}
.flowChartHeading{
  font: normal normal 500 24px "Segoe UI";
  color: #004445;
}
/* .nodeLabel{
  color: tomato;
} */
/* .cssClass > rect{
  fill:#FF0000;
  stroke:#FFFF00;
  stroke-width:4px;
} */

/* .mermaid{
  width: 100%;
  font-size: 24px;
  background-color: aqua;
} */